# Dependencies
node_modules/

# Python
**/__pycache__/**
**/venv/**
**/.venv/**
*.pyc

# Environment
.env
.env.*

# Build output
dist/
build/

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db